<!-- start: Main Menu -->
<div id="sidebar-left" class="span1">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">
			
			<li class="active">
				<a href="/common/person.html">
					<i class="fa-icon-user"></i>
					<span class="hidden-tablet"> Personal Info</span>
				</a>
			</li>
			
			<li class="active">
				<a href="/crewing/crew.html">
					<i class="fa-icon-group"></i>
					<span class="hidden-tablet"> Crew</span>
				</a>
			</li>
			
			<li>
				<a href="/crewing/fleet.html">
					<i class="fa-icon-plane"></i>
					<span class="hidden-tablet"> Fleet</span>
				</a>
			</li>
			<li>
				<a href="messages.html">
					<i class="fa-icon-envelope"></i>
					<span class="hidden-tablet"> Messages</span>
				</a>
			</li>
			<li>
				<a href="tasks.html">
					<i class="fa-icon-tasks"></i>
					<span class="hidden-tablet"> Tasks</span>
				</a>
			</li>
			<!-- 
			<li>
				<a href="ui.html">
					<i class="fa-icon-eye-open"></i>
					<span class="hidden-tablet"> UI Features</span>
				</a>
			</li>
			<li>
				<a href="widgets.html">
					<i class="fa-icon-dashboard"></i>
					<span class="hidden-tablet"> Widgets</span>
				</a>
			</li>
			<li>
				<a class="dropmenu" href="#">
					<i class="fa-icon-folder-close-alt"></i>
					<span class="hidden-tablet"> Dropdown</span>
				</a>
				<ul>
					<li>
						<a class="submenu" href="submenu.html">
							<i class="fa-icon-file-alt"></i>
							<span class="hidden-tablet"> Sub Menu 1</span>
						</a>
					</li>
					<li>
						<a class="submenu" href="submenu.html">
							<i class="fa-icon-file-alt"></i>
							<span class="hidden-tablet"> Sub Menu 2</span>
						</a>
					</li>
					<li>
						<a class="submenu" href="submenu.html">
							<i class="fa-icon-file-alt"></i>
							<span class="hidden-tablet"> Sub Menu 3</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="form.html">
					<i class="fa-icon-edit"></i>
					<span class="hidden-tablet"> Forms</span>
				</a>
			</li>
			<li>
				<a href="chart.html">
					<i class="fa-icon-list-alt"></i>
					<span class="hidden-tablet"> Charts</span>
				</a>
			</li>
			<li>
				<a href="typography.html">
					<i class="fa-icon-font"></i>
					<span class="hidden-tablet"> Typography</span>
				</a>
			</li>
			<li>
				<a href="gallery.html">
					<i class="fa-icon-picture"></i>
					<span class="hidden-tablet"> Gallery</span>
				</a>
			</li>
			<li>
				<a href="table.html">
					<i class="fa-icon-align-justify"></i>
					<span class="hidden-tablet"> Tables</span>
				</a>
			</li>
			<li>
				<a href="calendar.html">
					<i class="fa-icon-calendar"></i>
					<span class="hidden-tablet"> Calendar</span>
				</a>
			</li>
			<li>
				<a href="file-manager.html">
					<i class="fa-icon-folder-open"></i>
					<span class="hidden-tablet"> File Manager</span>
				</a>
			</li>
			<li>
				<a href="icon.html">
					<i class="fa-icon-star"></i>
					<span class="hidden-tablet"> Icons</span>
				</a>
			</li>
			<li>
				<a href="login.html">
					<i class="fa-icon-lock"></i>
					<span class="hidden-tablet"> Login Page</span>
				</a>
			</li>
			 -->
		</ul>
	</div>
</div>
<!-- end: Main Menu -->